/* Just a comment */
/* :) */
.blog-home {
  font-family: "Lato", sans-serif;
  font-size: 13px;
  line-height: 24px;
  letter-spacing: 0.75px;
}

.wrapper{
    background-color: #E6E6FA
}

#title {
    font-weight: bold;
}

#yusuf_img {
max-width: 20%;
height: auto;
}
