/* Just a comment */
/* :) */
.blog-home {
  font-family: "Lato", sans-serif;
  font-size: 13px;
  line-height: 24px;
  letter-spacing: 0.75px;
}

.wrapper{
  border-style: solid;
  border-color: white;
  border-width: 5px;
}

.article-margin{
  border-style: solid;
  border-color: grey;
  border-width: 10px;
  text-align: center;
}

#title {
    font-weight: bold;
}

#yusuf_img {
max-width: 20%;
height: auto;
}

#site-header{
  border-style: solid;
  background-color: #E6E6FA;
  border-width: 10px;
  text-align: center;
}
